
body { 
    font-family: sans-serif; 
    background-color: #413f3f; 
    margin: 0;
    display: flex;
    flex-direction: column;   } 

.barra-superior {
    background-color: #87b97b; 
    color: white;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    gap: 15px;                 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


.barra-superior h1 {
    margin: 0;
    font-size: 1.2rem;
}

.contenido-principal {
    flex-grow: 1;              
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form { 
    background: rgb(54, 51, 51); 
    padding: 25px; 
    border-radius: 8px; 
    width: 100%;
    max-width: 320px;
    box-shadow: 0 4px 10px rgba(31, 29, 29, 0.1);
    color: white
}

label { display: block; margin-top: 10px; font-weight: bold; font-size: 14px; }
input { width: 100%; display: block; border: 1px solid #ccc; padding: 8px; box-sizing: border-box; border-radius: 4px; }

.error { color: red; font-size: 11px; margin: 0; height: 15px; }
.valido { border: 2px solid green; }
.invalido { border: 2px solid red; }

button { margin-top: 15px; padding: 10px; cursor: pointer; width: 100%; border-radius: 4px; border: none; }
button:disabled { opacity: 0.5; cursor: not-allowed; }
#botonEnviar { background-color: #89b69c; color: white; font-weight: bold; }
#botonReset { background-color: #eee; color: #333; margin-top: 5px; }